[Unit]
Description=Run the Sentinel watchdog every 2 minutes

[Timer]
OnBootSec=120
OnUnitActiveSec=120
AccuracySec=10

[Install]
WantedBy=timers.target
